# Core FastAPI server and ASGI server
fastapi
uvicorn[standard]
python-multipart

# Database and ORM
sqlalchemy
psycopg2-binary
neo4j

# Security and Authentication
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
jwcrypto

# AI and LangChain
langchain
langchain-openai
langchain-community
# langchain-neo4j # Removed as it causes issues with Python 3.9

# Utilities
packaging==24.1
beautifulsoup4
